package-lock=false
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
#registry=https://registry.npm.taobao.org
registry=http://192.168.0.251:8010/repository/npm-group/
#registry=http://registry.npmjs.org
